#grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
}

#header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    background-color: blue;
}